<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인페이지</title>
</head>
<body>
<!-- 시큐리티는 x-www-form-url-encoded 타입만 인식 //login만 예외로 ajax통신하지 말기!! 응답받을 때 꼬인다.-->
<h1>로그인 페이지</h1>
<form action="/loginProc" method="post">

<h3>username : </h3>
<input type="text" name="username" placeholder="username"/>
<br />
<h3>password : </h3>
<input type="password" name="password" placeholder="password"/>
<br />
<br />
<button>로그인</button>

</form>
</body>
</html>